body {
    font-family: Arial;
    background: #0d1117;
    color: white;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th {
    padding: 10px;
    border: 1px solid #444;
}

.online { color: lightgreen; }
.offline { color: red; }

#logBox {
    background: #222;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    border-radius: 5px;
}
